
@{
    ViewData["Title"] = "Graphe_Region";
}

<div class="col-md-12 mb-3">
    <div class=" row container-fluid section1 text-center">

    </div>
</div>
<div class=" contenair-fluid section1 text-center ">
    <h1>Graphe de variation croissance</h1>
</div>
<div class=" row container-fluid section1 text-center">
    <div class="col-md-12 text-center mb-3">
        <h2>caractéristique du graphe</h2>
        <p>
            Graphe du nombre de pays par region simulé suivant le fichier
            <a href="C:\Users\arthu\Downloads\projet architecture\Metadata_Country_API_SP.POP.GROW_DS2_fr_csv_v2_1940847.csv"><strong>Metadata_Country</strong></a>
        </p>
    </div>
</div>
<div class="row container-fluid section1 text-center">
    
    <div class="col-md-10 text-center mb-3">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <canvas id="myChart" width="800" height="500"></canvas>
    </div>
</div>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var v = @Html.Raw(@ViewBag.region);
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels:v,
        datasets: [{
            label: 'number country per region',
            data: @ViewBag.count_Country,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>


