
@{
    ViewData["Title"] = "Index";
}


<div class=" contenair-fluid section1 text-center ">
    <h1>Bienvenue</h1>
    <div class="row container-fluid section1 text-center">
        <div class="col-md-6 col-12  container-fluid mb-4 ">
            <br>
            <br>
            <br>
            <br>
            <a asp-action="liste_pays"><h2 class="my-4 mb-5 text-uppercase shadow-lg p-3 text-center film mb-5 bg-white rounded "> <span class="badge badge-white">Fichier 1 </span></h2></a>

            <p class=" text-center text-uppercase  text-black commentaires">
                souhaitez vous travailler avec les données du fichier metadata country
            </p>
        </div>
        <div class="col-md-6 col-12  container-fluid mb-4 ">
            <br>
            <br>
            <br>
            <br>
            <a asp-action="liste_name_pays" asp-controller="Population"><h2 class="my-4 mb-5 text-uppercase shadow-lg p-3 text-center film mb-5 bg-white rounded "> <span class="badge badge-white">Fichier 2 </span></h2></a>

            <p class=" text-center text-uppercase  text-black commentaires">
                souhaitez vous travailler avec les données du fichier Indicateurs du développement dans le monde
            </p>
        </div>
    </div>

</div>